# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# Flutter/Dart related
.dart_tool/
.idea/
.vscode/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
android/app/debug/
android/app/profile/
android/app/release/

# Firebase related
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Miscellaneous
.DS_Store
.env
*.key
*.pem
